<div class="topNav container" id="nav">
    <div class="logoSect">
        <a class="logo" href="/">
           Recipe Book
        </a>
    </div>
    <div class="mainNav ">
        <ul class="cfx ">
            <li class="cfx " style="display: none ; ">
                <form class="searchForm " action="https://recipebook.io/recipes " method="get " autocomplete="off ">
                    <input type="text " name="key " class="searchInput " placeholder="Search " required=" ">
                </form>
            </li>
            <li class="cfx "><a href="https://recipebook.io/contest ">CONTEST</a></li>
            <li class="cfx "><a href="https://recipeblog.io/ " target="_blank ">RECIPEBLOG</a></li>
            <li class="cfx "><a href="https://www.recipebook.io/foodvisionapi.com/ " target="_blank ">FOODVISION API</a></li>
            <li class="cfx " style="display: none "><a href="https://recipebook.io/recipes ">RECIPES</a></li>
            <li class="cfx "><a class="signin " data-toggle="modal " data-target="#myModal ">LOGIN</a></li>
        </ul>

        <a href="https://recipebook.io/# " class="mobIcn ">
            <img src="./RecipeBook_files/mob_btn.png " alt="mob btn ">
        </a>
    </div>
    <div class="clr "></div>
</div>