<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Recipe Book</title>
    {{> styles }}
</head>

<body>
    <div class="container">
        <div class="wrapper">
            {{> nav}}
            <div class="paddngTop63">
                <div id="down" class="middlesearchbar cfx">
                    <span class="searchBarSpan">
                        <form class="searchBarForm" action="/" method="get" autocomplete="off">
                            <input type="text" name="key" class="searchBarInput" placeholder="Search for recipes, ingredients..." required="">
                            <button type="submit" class="searchBarButton fa fa-search"></button>
                        </form>
                    </span>
                </div>
                <div class="swipeRecipes cfx">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>


    {{> scripts}}
</body>

</html>