html{height:100%;}
body{background:#f8f8f8 none repeat scroll 0 0;color:#666666;font-family:'Montserrat', sans-serif;font-size:16px;line-height:normal;margin:0;height:100%;font-weight:400;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6{color:#333333;font-family:'Montserrat', sans-serif;font-size:60px;font-weight:500;margin:0 0 10px;}
h2{font-size:32px;font-weight:500;}
h3{font-size:26px;}
h4{font-size:22px;}
h5{font-size:18px;}
h6{font-size:16px;}
hr{border:none;margin:30px 0;border-top:1px solid #ccc;}
hr.dashed{border-top-style:dashed;}
hr.m10{margin:10px 0;}
ul{display:block;margin:0;padding:0;}
ul li{line-height:26px;color:#323c41;}
a{letter-spacing:1px;color:#323c41;text-decoration:none;cursor:context-menu;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;transition:all linear 0.2s;}
a:hover, .a-link:hover, a:focus, a:active{outline:medium none;text-decoration:none;color:#323c41;}
a img{border:0 none;}
p{word-wrap:break-word;text-transform:capitalize;margin:0;letter-spacing:1px;color:#323c41;text-decoration:none;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;transition:all linear 0.2s;}
p:hover, .p-link:hover, p:focus, p:active{outline:medium none;text-decoration:none;color:#323c41;cursor:context-menu;}
*::selection{background:#323c41;color:#fff;}
p img{border:0 none;}
.clr{clear:both;display:block;float:none;}
.c{float:none;overflow:hidden;}
.underline{text-decoration:underline;}
.hidden{display:none;}
strong{font-weight:700;}
h1 strong{font-weight:500;}
table{border-collapse:collapse;border-spacing:0;}
input[type="text"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], input[type="number"], select, textarea{background-color:#fdfdfd;border:1px solid #e0e0e0;color:#666666;font-family:'Montserrat', sans-serif;font-size:14px;font-weight:400;padding:10px 15px;resize:vertical;max-width:100%;}
select{padding:9px 15px;}
input[type="submit"], input[type="reset"], input[type="button"]{border:none;background:none;max-width:100%;}
input.fullwidth, select.fullwidth, textarea.fullwidth{width:100%;}
input[type="text"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus, textarea:focus{background-color:#fff;border-color:#c6c6c6;}
input[type="text"][disabled], input[type="url"][disabled], input[type="tel"][disabled], input[type="email"][disabled], input[type="password"][disabled], input[type="number"][disabled], select[disabled], textarea[disabled]{background-color:#f1f1f1;}
input[type="checkbox"], input[type="radio"]{vertical-align:-2px;}
.bold, input.bold{font-weight:700;}
.cfx::after{clear:both;content:"+";display:block;height:0;visibility:hidden;}
.hrefing{display:block;width:100%;cursor:pointer;}
.noPad{padding:0 !important;}
.hide{visibility:hidden;}
/*------------btmStrp------*/
.btmStrp {
	max-width:700px;
	box-shadow:0px 1px 6px rgba(0,0,0,.23);
	padding: 15px;
	margin:0 auto;
	width:100%;
	position:fixed;
	left:0;
	right:0;
	bottom:-200px;
	background-color:#fff;
	-moz--transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	transition: all linear 0.3s;
	z-index: 2000;
}
.btmStrp.fixed {
	bottom:10px;
}
#top_close {
    content: 'x';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 50%;
    right: -10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.30);
    top: -10px;
    cursor: pointer;
    font-weight: 500;
    padding: 1px;
	-moz--transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.btmStrplogo {
    display: inline-block;
    max-width: 180px;
}
#top_close:hover {
    background-color: #f3f3f3;
}
.btmStrp .logoLeft {
    float:left;
}
.btmStrp .downLoad {
    float:right;
    margin-left: 20px;
}
.btmStrp .downLoad a {
    max-width: 100px;
    display: inline-block;
    margin: 4px 5px;
}
@keyframes blink{0%{opacity:.2;}
20%{opacity:1;}
100%{opacity:.2;}
}
.saving{margin:0 0 10px 0;text-align:center;}
.saving span{animation-name:blink;animation-duration:1.4s;animation-iteration-count:infinite;animation-fill-mode:both;font-size:25px;display:inline-block;width:15px;}
.saving span:nth-child(2){animation-delay:.2s;}
.saving span:nth-child(3){animation-delay:.4s;}
#connctd{position:fixed;width:100%;height:100%;z-index:1070;text-align:center;background-color:rgba(63, 63, 63, 0.4);}
#connctd p{color:#ffffff;font-size:22px;font-weight:300;text-transform:none;}
.conblur{filter:blur(4px);-o-filter:blur(4px);-ms-filter:blur(4px);-moz-filter:blur(4px);-webkit-filter:blur(4px);}
*{box-sizing:border-box;}
.bgImg{background-repeat:no-repeat;background-position:center;background-size:cover;}
.container{padding:0px;}
.caro{padding:0 150px 0 150px;}
.paddngTop63{padding-top:63px;min-height:90vh;}
.safari select{margin-top:10px;}
.homeBanner{position:relative;}
.bannerSlider img{width:100%;}
.bannerSlider .owl-controls{bottom:40px;margin:0 auto;position:absolute;text-align:right;width:100%;}
.bannerSlider .owl-controls .owl-pagination{max-width:1170px;margin:0 auto;}
.owl-controls .owl-page{display:inline-block;margin:0 5px;position:relative;z-index:666;}
.owl-controls .owl-page span{border:2px solid #000000;height:12px;display:block;width:12px;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;transition:all linear 0.2s;}
.owl-controls .owl-page.active span,
.owl-controls .owl-page span:hover{background-color:#000000;}
.bannerCont{box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.2);color:#cccccc;width:100%;padding-top:180px;background-size:cover;background-position:center;min-height:500px;}
.bannerCont h1{text-shadow:0 2px 6px rgba(0,0,0,.3);color:#fff;margin-bottom:15px;}
.bannerCont h4{font-family:'Roboto';font-weight:400;color:#cccccc;margin-bottom:5px;}
.bannerCont p{line-height:24px;max-width:560px;display:block;margin:0 auto 40px;font-weight:300;}
.mobileBanner{display:none;}
.mobileBanner .bannerCont{//background-image:url(../images/merowa-banner.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;transform:none;padding:80px 0;position:static;height:450px;min-height:450px;}
.scroll{position:absolute;bottom:20px;width:100%;}
.scroll .scrollNav{cursor:pointer;display:inline-block;opacity:0.4;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;transition:all linear 0.2s;}
.scroll .scrollNav:hover{opacity:1;}
.scroll .scrollNav img{width:24px;height:43px;}
#mob_menu{background-color:#323c41;color:#fff;height:100%;left:-100%;opacity:1;position:fixed;overflow:auto;top:0;max-width:300px;width:100%;z-index:1055;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
#mob_menu.show_menu{left:0px;}
#mob_menu .close_btn a{color:#fff;font-size:26px;margin:15px 0;display:inline-block;}
#mob_menu .close_btn .mobClose img{margin:-5px 0;width:42px;height:42px;}
#mob_menu ul,
#mob_menu ul li{margin:0px;padding:0px;list-style:none;}
#mob_menu ul li{display:block;}
#mob_menu ul li a{display:block;font-size:13px;color:#ffffff;text-transform:uppercase;font-weight:500;padding:4px 15px 4px 30px;}
.userName{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:110px;}
#mob_menu ul li p{font-size:13px;}
.mobile_menu #topHeadr a{padding-left:0;}
#mob_menu ul li:hover > a{color:#fff;}
#mob_menu ul li a .fa{margin-left:4px;}
#mob_menu ul li ul{padding-left:40px;margin-bottom:10px;}
.mobile_menu .searchForm{margin:0;padding:4px 15px;}
.mobile_menu .searchForm input{max-width:75%;height:30px;}
.mobIcn{display:none;}
.mobIcn img{width:27px;height:26px;}
.mobile_menu .userName, .mobile_menu .caretCntr{color:white;}
.mobile_menu .userProf{margin:15px;}
.mobile_menu #topHeadr{margin-left:15px;}
#mob_menu ul li a#signOut{color:#323c41;text-transform:none;}
.btnPrimary{background-color:transparent;border:2px solid #323c41;color:#323c41;cursor:pointer;display:inline-block;font-size:14px;min-width:152px;padding:11px 20px;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;-webkit-transition:all linear 0.2s;transition:all linear 0.2s;text-align:center;}
.btnPrimary:hover{border-color:#f6ba18;color:#f6ba18;}
.btnPrimary.secondary{border-color:#ffffff;color:#ffffff;}
.btnPrimary.secondary:hover{color:white;border-color:#ffa000;background-color:#ffa000;}
.contentSect{padding:100px 0;}
.animated{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeIn{from{opacity:0;}
to{opacity:1;}
}
@keyframes fadeIn{from{opacity:0;}
to{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.searchForm{margin:17px 0;}
.searchForm input:focus{outline:none;}
.searchForm input, .searchForm button{height:auto;padding:0 10px;float:left;}
.searchForm button{//background-color:#43a629;//border:1px solid #43a629;background-color:#323c41;border:1px solid #323c41;color:#fff;border-radius:0px 50px 50px 0px;}
.searchForm button:focus{outline:none;}
input.searchInput:focus{outline:none;}
.searchForm input{border-radius:50px;width:220px;letter-spacing:.5px;}
.searchForm::placeholder{color:#c1c1c1;opacity:1;}
.searchForm:-ms-input-placeholder{color:#c1c1c1;}
.topNav{box-shadow:0 0 6px rgba(0,0,0,.15);font-size:14px;background-color:#fff;position:fixed;z-index:1030;top:0;}
.size30{font-size:30px;}
.logoSect{float:left;width:300px;padding:15px 0;}
.logoSect a{display:block;}
.logo , .logo:hover , .logo:visited{padding-left:30px;font-size:25px;color:#323c41;cursor:pointer;}
.logoimg{height:33px;width:154px;}
.contestName{font-size:50px;font-weight:500;color:white;}
.contestName:hover{color:#ffa000;}
.btnColor:hover{border-color:#ffa000;color:#ffa000;}
.bannerCont .container *{margin-bottom:15px;}
.container #aPadding{padding-right:20px;font-weight:400;color:white;}
.container #aPadding:hover{color:#ffa000;}
.bannerImg{max-height:550px;}
.bannerBtn{margin-top:15px;}
.topNav .mainNav{float:right;margin-right:30px;}
.topNav .mainNav ul li{float:left;list-style:none;margin-left:40px;font-family:'Montserrat', sans-serif;}
.topNav .mainNav ul li a{color:#323c41;padding-top:20px;padding-bottom:15px;border-bottom:2px solid transparent;display:block;cursor:pointer;}
.signin{background-color:#323c41;color:#fff !important;padding:30px;margin:0 -30px 0 0;}
.topNav .mainNav ul li a:hover, .topNav .mainNav ul li.active a{color:#323c41;border-bottom:2px solid #323c41;}
.innerBanner{padding:100px 0;}
.modal-body{padding:0;}
.noborder{border:0;position:absolute;padding:0;right:50px;top:50px;}
.modalWidth{width:1000px;}
.modalPop{height:495px;background-repeat:no-repeat;background-position:center;background-size:cover;}
.modalLeft{width:40%;float:left;padding:50px;}
.modalRight{float:right;width:60%;}
.modalOne p{color:#999d9f;font-size:16px;font-weight:400;text-transform:none;line-height:30px;letter-spacing:0.2px;}
.modalOne{margin-bottom:20px;}
.modalEmail,.modalPass,.modalBtn,.seperator,.loginBtn{margin:20px auto;}
.modalEmail input,.modalPass input,.modalEmail input:focus ,.modalPass input:focus{width:100%;background-color:#EBECE9;border:1px solid #EBECE9;color:#999d9f;outline:none;font-size:14px;font-weight:300;}
.btnOne{float:left;}
.btnTwo{float:right;}
.btnOne,.btnTwo{width:46%;height:40px;background-color:#EBECE9;text-align:left;font-size:12px;font-weight:400;padding:12px;}
.btnOne p, .btnTwo p{cursor:pointer;}
.btnOne:hover{background-color:#3b5998;}
.btnOne:hover p, .btnTwo:hover p{color:#e2ecea !important;}
.btnTwo:hover{background-color:#d34836;}
.modalBtn div.active a{color:#ffffff;}
.modalBtn div.active{background-color:#1ba63b;}
.noborder .close{width:30px;height:30px;opacity:1;background-repeat:no-repeat;}
.modalLeft .modalEmail input[type=text]{width:180px;box-sizing:border-box;border:2px solid #ccc;border-radius:4px;font-size:16px;background-color:white;background-position:right center;background-repeat:no-repeat;background-size:contain;padding:12px 20px 12px 12px;}
.separator{position:relative;width:100%;padding:0 5px;overflow:hidden;text-align:center;}
div.separator::before{width:50%;border-top:1px solid #e0e0de;content:"";position:absolute;left:-50px;top:50%;}
div.separator::after{width:50%;border-top:1px solid #e0e0de;content:"";position:absolute;right:-50px;top:10px;}
.modalOver{position:absolute;bottom:50px;right:50px;width:325px;}
.modalOver div p{text-transform:none;}
.overHead{font-size:45px;font-weight:800;}
.overBody{font-size:16px;font-weight:500;}
.userImage{width:100%;height:100%;object-fit:cover;object-position:center;}
.userImg{width:30px;height:30px;border-radius:15px;overflow:hidden;float:left;margin-right:10px;}
.userNam{float:left;margin-right:5px;}
.userProf{margin:16px 0;}
.caretCntr{margin:12px 0;}
#headrOut{margin:0 auto;width:100%;}
#signOut{padding:5px 10px;border:none !important;}
.middlesearchbar{float:left;background-color:white;width:100%;margin-bottom:20px;padding:30px 100px 30px 100px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
span.searchBarSpan{color:#999;}
form.searchBarForm{padding:0;display:inline-block;width:600px;position:relative;}
input.searchBarInput ,input.searchBarInput:hover , input.searchBarInput:active , input.searchBarInput:focus , input.searchBarInput:visited{background:#f2f2f2;padding:0 16px;height:46px;color:#666;outline:0;border:0;-webkit-appearance:none;width:100%;}
button.searchBarButton{background-color:transparent;background-size:19px 19px;background-position:center center;top:0;right:0;width:50px;height:46px;font-size:19px;border:0;padding:0;position:absolute;}
.thumbAuthor{font-size:12px;}
.authorBy{text-transform:none;float:left;margin-right:5px;}
.tagView, .tagView:hover{color:#aaaaaa;font-size:14px;font-weight:500;cursor:pointer;}
.authorName, .authorName:hover{color:#aaaaaa;font-weight:400;}
.tagHeader{padding:0px 0px 20px 0px;}
.tagViewMore{float:right;margin-top:2px;font-weight:400;}
.thumbs{float:left;text-align:left;border:0;width:100%;margin:0px;padding-bottom:10px;cursor:pointer;padding:0 10px;}
.thumbs p{cursor:pointer;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;letter-spacing:0px;}
.swipeTags{float:left;background-color:white;width:100%;margin-bottom:20px;padding:40px 100px 20px 100px;}
.swipeTags .owl-controls .owl-pagination{display:none !important;}
.owl-buttons{display:none;}
.owl-carousel:hover .owl-buttons{display:block;}
.owl-item{text-align:center;}
.owl-theme .owl-controls .owl-buttons div{background:transparent;color:#fff;font-size:24px;margin:0;position:absolute;width:36px;padding:6px 0;height:36px;border-radius:50%;text-align:center;background-color:#869791;top:60px;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left:0;}
.owl-theme .owl-controls .owl-buttons .owl-next{right:0;}
.tagName{font-size:20px;font-weight:bold;float:left;max-width:550px;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;}
.tagName a{cursor:pointer;}
.tagRight{float:right;cursor:pointer;}
.tagMoreImg{float:right;width:10px;height:14px;padding-top:4px;margin-left:2px;margin-top:2px;cursor:pointer;}
.thumbImage{max-width:186px;height:147px;}
.thumbs .thumbImage img{width:100%;height:100%;object-fit:cover;object-position:center;}
.thumbs .thumbName{font-size:14px;font-weight:400;padding-top:10px;min-height:46px;}
p.authorName{-webkit-line-clamp:1;}
.starRating{float:left;margin-right:5px;display:flex;align-items:left;font-size:16px;justify-content:left;margin-top:3px;}
.starRatingBottom{display:flex;position:relative;color:#e7711b;}
.starRatingTop{display:flex;color:#e7711b;overflow:hidden;position:absolute;top:0;}
.starRating i{margin:0 1px;}
.ratCnt{font-size:12px;padding-top:2px;}
.decontainer{background-color:white;}
.divLeft{float:left;overflow-x:hidden;overflow-y:scroll;width:70%;height:90vh;padding:0 30px;}
.divRight{overflow-x:hidden;width:30%;height:100vh;padding:40px;}
.socialIcon{float:right;display:none;}
.socialIcon img{padding-left:15px;float:LEFT;width:63px;}
.recTitleName{font-size:30px;font-weight:500;}
.recTitle{float:left;margin:0;max-width:65%;}
.topTitle{margin:30px 0 40px 0;}
.recImg{width:100%;height:auto;max-height:500px;margin:40px 0;}
.reciframe{height:500px !important;}
.recImg img{width:100%;object-fit:cover;height:100%;}
.recTime{margin:40px 0;}
.recTimeTitle{font-size:20px;font-weight:500;}
.AllTime{margin-top:10px;width:100%;}
.prepTime{float:left;width:33.33%;text-align:left;}
.cookTime{float:left;width:33.33%;text-align:center;}
.totalTime{float:right;width:33.33%;text-align:right;}
.AllTime p{color:#a6abb3;font-size:18px;font-weight:300;}
.totalTime p{color:#323c41;}
.recIng{margin:40px 0;}
.prod_href, .prod_href:hover, .prod_href:visited{cursor:pointer;color:#00a551;position:relative;}
.ingImgView{visibility:hidden;width:120px;height:auto;background-color:#555;color:#fff;text-align:center;border-radius:6px;box-shadow:0 0 6px rgba(0,0,0,.4);position:absolute;z-index:1;bottom:125%;left:50%;margin-left:-60px;opacity:0;transition:opacity 0.3s;}
.ingImgView::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent;}
.prod_href:hover .ingImgView{visibility:visible;opacity:1;}
.recDesc{margin:40px 0;}
.recIngLeft{font-size:20px;font-weight:500;float:left;}
.recIngRight{float:right;}
.recServe{color:#a6abb3;font-size:18px;font-weight:400;}
.recIngNos{list-style-type:none;font-size:18px;font-weight:300;}
.ingNos{margin:10px;}
.recIngTitle{margin-bottom:10px;}
.recDesc{margin:40px 0;}
.descTitle{font-size:20px;font-weight:500;}
.recDescTitle{font-size:20px;font-weight:500;margin-bottom:10px;}
.descImg{width:225px;height:150px;float:left;margin:0 20px;}
.descImg img{width:100%;height:100%;object-fit:cover;object-position:center;}
.recDescNos{list-style-type:none;font-size:18px;font-weight:300;}
.descLi{margin:20px 0;}
.descNum{float:left;display:block;width:26px;height:26px;background-color:#323c41;color:#ffffff;text-align:center;border-radius:15px;font-size:12px;font-weight:300;cursor:context-menu;}
.descStt{float:left;margin-left:40px;}
.descNos{margin:25px 0;}
.descStep{display:block;padding-left:40px;}
.recRating{margin:40px 0;}
.ratingTitle{font-size:20px;font-weight:500;margin-bottom:10px;padding-top:1px;float:left;}
.ratingStar{float:left;margin:5px 15px;display:flex;align-items:left;font-size:20px;justify-content:left;}
.ratingBottom{display:flex;position:relative;color:#eaeaea;}
.ratingTop{display:flex;color:#e7711b;overflow:hidden;position:absolute;top:0;}
.ratingStar i{margin:0 2px;}
.ratingCount{float:left;font-size:18px;padding-top:3px;}
.commentText:focus,.commentText,.commentText:hover ,.commentText[disabled]{background-color:#eaeaea;outline:none;border:none;resize:none;min-height:175px;min-width:100%;font-size:16px;font-weight:300;letter-spacing:1px;padding:0;margin-bottom:15px;}
.cmntLogin{text-align:center;margin:30px 0;font-size:14px;font-weight:400;}
.cmntLogin p{color:#a0a0a0;text-transform:none;cursor:pointer;}
.recComment{background-color:#eaeaea;padding:15px;}
.commentRating{float:left;}
.commentButton{float:right;font-size:18px;background-color:#323c41;padding:5px 20px;cursor:pointer;}
.cmntBtn , .cmntBtn:hover{color:#ffffff;cursor:pointer;}
.disableClick{pointer-events:none;cursor:not-allowed;}
.ratingUpdate{float:left;}
.ratingUpdate:not(:checked) > input{display:none;}
fieldset{border:0;}
.ratingUpdate:not(:checked) > label{float:right;width:1em;padding:0 .1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:200%;line-height:1.2;color:#b9b9b9;}
.ratingUpdate:not(:checked) > label:before{content:'â˜… ';}
.ratingUpdate > input:checked ~ label{color:#e7711b;}
.ratingUpdate:not(:checked) > label:hover,
.ratingUpdate:not(:checked) > label:hover ~ label{color:#f70;}
.ratingUpdate > input:checked + label:hover,
.ratingUpdate > input:checked + label:hover ~ label,
.ratingUpdate > input:checked ~ label:hover,
.ratingUpdate > input:checked ~ label:hover ~ label,
.ratingUpdate > label:hover ~ input:checked ~ label{color:#f70;}
.ratingUpdate > label:active{position:relative;top:2px;left:2px;}
.commentText::-webkit-scrollbar{width:12px;}
.commentText::-webkit-scrollbar-track{background:#323c41;border-left:5.0px solid #eaeaea;border-right:5.0px solid #eaeaea;}
.commentText::-webkit-scrollbar-thumb{background:#323c41;border-left:5.5px solid #323c41;border-right:5.5px solid #323c41;}
.viewComment{margin-top:20px;}
.commentOne{width:47%;margin:1%;padding-bottom:10px;display:inline-block;vertical-align:top;}
.commentImg{width:40px;height:40px;float:left;display:block;border:1px solid #ffffff;border-radius:20px;overflow:hidden;}
.commentImg img{object-fit:cover;object-position:center;width:100%;height:100%;}
.commentedTop{padding:6px 0;}
.commentName{float:left;font-size:16px;font-weight:500;padding:4px 0;}
.commentName p{margin:0;}
.commentRate{float:left;}
.commentTime{float:right;font-size:11px;font-weight:300;width:100px;padding-top:5px;}
.commentPadding{display:block;padding-left:50px;}
.cmntRatingStr{float:left;margin:8px 10px;display:flex;align-items:left;font-size:12px;justify-content:left;}
.cmntRatingStr i{margin:0 1px;}
.commented{background-color:#eaeaea;padding:10px;font-size:12px;}
.commented p{text-transform:unset;}
#seeMore{width:100%;text-align:center;margin-top:20px;padding:10px;background-color:#eaeaea;cursor:pointer;}
#seeMore , #seeMore a{cursor:pointer;}
.profImg img{width:100%;height:100%;object-fit:cover;object-position:center;}
.profImg{float:left;width:40px;height:40px;border:1px solid #ffffff;border-radius:20px;overflow:hidden;margin-right:10px;}
.profName{max-width:160px;float:left;}
.profFollow{float:right;text-align:center;font-size:14px;padding:5px 12px;background-color:#323c41;cursor:pointer;}
.pName{font-size:16px;font-weight:500;}
.pName , .pCount{text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;}
.pCount{font-size:12px;font-weight:400;color:#aaaaaa;}
.pCount:hover{color:#aaaaaa;}
.profFollow a{color:#ffffff;cursor:pointer;}
.profile ,.voteRating , .tags, .relatedRec{margin-bottom:20px;}
.voteHead{font-size:15px;font-weight:500;}
.tagHead{font-size:15px;font-weight:500;margin-bottom:10px;}
.votes{float:left;max-width:175px;}
.votNos{float:left;}
.votVot{float:left;text-transform:none;margin-left:5px;}
.votLeft{float:left;font-size:14px;}
.votLeft p{text-transform:none;width:149px;}
.votRight{float:right;text-align:center;background-color:#ff9506;padding:6px 0;width:100px;height:30px;margin:3px 0;cursor:pointer;}
.votRight p{color:#fff;cursor:pointer;}
.tagged{float:left;}
.tagged p{margin:3px 6px;padding:5px 15px;background-color:#eaeaea;font-size:12px;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;letter-spacing:.5px;}
.relatedTop{margin-bottom:10px;}
.relatedHead{font-size:16px;font-weight:500;float:left;}
.relatedMore{float:right;font-size:12px;font-weight:400;padding-top:2px;}
.relatedMore a{color:#e7711b;}
.relatedShow{display:block;}
.relatedOne{display:inline-block;width:46%;margin:1%;margin-bottom:4%;vertical-align:top;overflow:hidden;}
.relatedImg img{width:100%;height:100%;object-fit:cover;object-position:center;}
.relatedImg{width:100%;height:90px;}
.relatedName{font-size:12px;}
.relatedName p{text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;cursor:pointer;overflow:hidden;}
.divLeft::-webkit-scrollbar{width:14px;}
.divLeft::-webkit-scrollbar-track{background:#f1f1f1;border-left:6px solid white;border-right:6px solid white;}
.divLeft::-webkit-scrollbar-thumb{background:#f1f1f1;border-left:6px solid #f1f1f1;border-right:6px solid #f1f1f1;}
.row > .column{padding:0 8px;}
.row:after{content:"";display:table;clear:both;}
.column{float:left;width:25%;}
#myMod.modal{display:none;position:fixed;z-index:1040;left:0;top:0;width:100%;height:100%;margin:0 auto;overflow:auto;opacity:1;}
#myMod .modal-content{position:relative;background-color:#fefefe;margin:auto;margin-top:30px;width:800px;height:600px;z-index:1050;}
#myMod .close{color:#4e4e4e;position:absolute;top:0px;right:5px;font-size:30px;font-weight:bold;opacity:.6;cursor:pointer}
#myMod .close:hover,
#myMod .close:focus{color:#999;text-decoration:none;cursor:pointer;}
#myMod .mySlides{display:none;height:calc(100% - 40px);overflow:hidden;margin:20px;}
#myMod .prev,
#myMod .next{cursor:pointer;position:absolute;top:50%;width:auto;padding:16px;margin-top:-50px;color:#bfbfbf;font-weight:bold;font-size:20px;transition:0.6s ease;border-radius:0 3px 3px 0;user-select:none;-webkit-user-select:none;background-color:rgba(0, 0, 0, 0.5);}
#myMod .next{right:0;border-radius:3px 0 0 3px;}
#myMod .prev:hover,
#myMod .next:hover{background-color:rgba(0, 0, 0, 0.8);}
#myMod .numbertext{color:#cbcbcb;font-size:14px;padding:2px 0px;position:absolute;top:0;}
#myMod img{margin-bottom:-4px;height:100%;width:100%;object-position:center;object-fit:contain;}
#myMod .caption-container{text-align:center;background-color:black;padding:2px 16px;color:white;}
#myMod .demo{opacity:0.6;}
#myMod .active,
#myMod .demo:hover{opacity:1;}
#myMod .hover-shadow{transition:0.3s}
.blurr{-webkit-filter:blur(4px);-moz-filter:blur(4px);-o-filter:blur(4px);-ms-filter:blur(4px);filter:blur(4px);}
.contestContainer{background-color:white;}
.contestRight{overflow-x:hidden;width:30%;padding:30px;height:90vh;}
.conTabs{float:left;padding:5px 0;width:65%;}
.conTabs div{float:left;width:33.33%;}
.liveTab{text-align:left;}
.upcomingTab{text-align:center;}
.pastTab{text-align:right;}
.iconTab{margin-top:40px;display:none;}
.topTab{font-size:26px;font-weight:500;color:#323c41;margin:20px 0;margin-top:30px;}
.iconTab img{padding:0 5%;float:LEFT;width:25%;}
.topTab div div p{color:#b7b7b7;cursor:pointer;}
.topTab div.active p{color:#323c41;}
.viewArea{display:none;margin:-1%;}
.viewArea.active{display:block;}
.noCont ,.noRecs{text-align:center;padding:200px 0;font-size:16px;font-weight:400;}
.noCont p , .noRont p , .noRecs p{color:#b7b7b7;}
.noRont{text-align:center;padding:15px 0;font-size:12px;font-weight:300;}
.contestSingle{width:48%;min-height:189px;float:left;margin:0 1%;margin-bottom:2%;cursor:pointer;}
.contestView{background-position:center;background-repeat:no-repeat;height:249px;width:100%;background-size:cover;position:relative;}
.contestOverlay{position:absolute;bottom:0px;width:100%;display:block;padding:10px;background:rgba(0, 0, 0, 0.42);}
.contestHeading{color:#ebece9;font-size:18px;font-weight:500;}
.contestTagline:hover,.contestHeading:hover{color:white;}
.o1{margin-bottom:5px;}
.contestTagline{color:#ebece9;font-size:13px;font-weight:300;}
.rightHeading{color:#323c41;font-weight:500;font-size:25px;float:left;}
.rightMore{color:#ff9506;float:right;margin:5px auto;font-size:14px;font-weight:400;}
.rightMore:hover{color:#eca952;cursor:pointer;}
.r2{margin-top:5px;}
.rightSingle{width:44%;margin:2% 2%;overflow:hidden;display:inline-block;vertical-align:top;cursor:pointer;}
.rightHead{padding:3%;}
.rightArea.inactive{display:none;}
.rightName{color:#323c41;font-size:14px;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;cursor:pointer;}
.rightImg{cursor:pointer;}
.detLeft{float:left;margin:0px;width:65%;}
.detRight{float:right;width:35%;background-color:#ff9506;text-align:center;cursor:pointer;}
.detTab{margin:20px 0;}
.detTab .hrefing{display:none;}
.detLeft{font-size:28px;font-weight:500;height:60px;padding:12px 0;}
.detRight{font-size:22px;font-weight:500;height:50px;padding:12px 0;width:24%;margin:5px 0;}
.detBtn{width:100%;color:white;cursor:pointer;}
.detBtn:hover{width:100%;color:white;cursor:pointer;}
.detImg{height:450px;overflow:hidden;}
.detImg img{max-height:450px;object-fit:cover;object-position:center;width:100%;}
.detViewer{background-color:#323c41;padding-top:4%;}
.detViewer p{color:#ebece9;}
.detView11{width:80%;float:left;padding-right:4%;}
.dataView111{font-size:25px;font-weight:500;margin-bottom:4%;}
.dataView112{font-size:15px;font-weight:400;}
.detView12{float:right;text-align:right;padding-left:4%;width:20%;border-left:1px dotted #ebece9;}
.detBig{font-size:60px;font-weight:600;text-align:center;}
.detDays{font-size:15px;text-align:center;}
.detView1{margin:0 4%;}
.detNos{margin:4%;}.detNos1{float:left;width:26%;text-align:left;}
.detNos3{float:right;width:26%;text-align:right;}
.detNos2{display:inline-block;margin:0 11%;width:26%;display:inline-block;text-align:center;}
.detNos11a{font-size:25px;font-weight:400;}
.detCont{font-size:25px;font-weight:500;margin-bottom:10px;}
.detNos11b{font-size:15px;}
.detRules{font-size:15px;padding-left:10px;}
.winner{margin:40px 0;}
.winTit{font-size:25px;font-weight:500;margin-bottom:10px;}
.winner .owl-controls{display:none !important;}
.detDescr{margin:40px 0;}
.detPrizeTitle{font-size:25px;font-weight:500;margin-bottom:10px;}
.detPrize{margin-top:40px;}
.detPrizeImg img{max-width:100%;margin:0 auto;display:block;margin-bottom:10px;}
.detPrizeImg{overflow:hidden;}
.detPrizeDesc{margin:10px;font-size:15px;}
.detTerms{padding:10px 0;text-align:center;}
.detTerms a{font-size:12px;font-weight:400;color:#999d9f;cursor:pointer;}
.detRules p{color:#999d9f;}
.detRules p:hover{color:#999d9f;}
.detPrizeDesc p{color:#999d9f;}
.selLeft{font-size:20px;font-weight:500;float:left;}
.selRight{float:right;font-size:15px;font-weight:400;margin:3px 0;}
.selRight a{color:#ff9506;cursor:pointer;}
.selectedEntries{margin-bottom:20px;padding:1%;}
.selOne{width:47%;margin:1%;display:inline-block;font-size:12px;font-weight:400;overflow:hidden;cursor:pointer;vertical-align:top;padding-bottom:5%;}
.selOne .selName p{cursor:pointer;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;padding-top:5%;overflow:hidden;}
.selImg{width:100%;height:95px;overflow:hidden;}
.selImg img{width:100%;height:100%;object-fit:cover;object-position:center;}
.selectedImg{width:100%;height:150px;background-position:center;background-size:cover;display:block;position:relative;}
.selectedRecipes{padding:15px 30px;}
.selectedLeft{float:left;font-size:30px;font-weight:500;padding:5px 0;}
.SelectRight{float:right;font-size:22px;padding:10px 20px;background-color:#ff9506;}
.selBtn , .selBtn:hover{color:white;}
.selectedShow{margin:10px -15px;min-height:100vh;}
.selectedOne{display:block;float:left;vertical-align:top;margin:15px;width:calc(20% - 30px);overflow:hidden;min-height:226px;}
.selectedOverlap{bottom:0;position:absolute;margin:3px;}
.selectImg{width:30px;height:30px;object-fit:cover;object-position:center;border:1px;border-radius:15px;overflow:hidden;float:left;}
.selectName{font-size:10px;font-weight:400;}
.selectCount{display:block;font-size:8px;font-weight:300;}
.selectName p,.selectCount p{color:#ffffff;cursor:pointer;}
.selectedName p{cursor:pointer;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;}
.selectRight{float:left;padding-left:35px;position:absolute;bottom:0;width:120px;}
.selectedName{font-size:12px;padding:10px 0 2px 0;height:25px;overflow:hidden;}
.selRec{font-size:12px;cursor:pointer;}
.selBy{text-transform:none;float:left;margin-right:5px;cursor:pointer;}
.selAuthor{color:#aaaaaa;font-weight:400;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;cursor:pointer;}
.selAuthor:hover{color:#aaaaaa;}
.selRating{float:left;margin-right:5px;display:flex;align-items:left;font-size:16px;justify-content:left;margin-top:3px;}
.selRating i{margin:0 1px;}
.selRatingTop{display:flex;color:#e7711b;overflow:hidden;position:absolute;top:0;}
.selRatingBottom{display:flex;position:relative;color:#b9b9b9;}
#scroll{position:relative;float:left;height:40px;width:1230px;bottom:0;display:block;padding-top:5px;padding-bottom:5px;background:rgba(0, 0, 0, 0.42);text-align:center;}
#scroll img{display:block;margin:0 auto;height:30px;}
.loading{border:3px solid #ffffff;-webkit-animation:spin 1s linear infinite;animation:spin 1s linear infinite;border-top:3px solid #323c41;border-radius:50%;width:25px;height:25px;display:block;margin:0 auto;display:none;}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}
@keyframes spin{0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
.selectedShow::-webkit-scrollbar{width:14px;}
.selectedShow::-webkit-scrollbar-track{background:#f1f1f1;border-left:6px solid white;border-right:6px solid white;}
.selectedShow::-webkit-scrollbar-thumb{background:#f1f1f1;border-left:6px solid #f1f1f1;border-right:6px solid #f1f1f1;}
.copyright{box-shadow:0 0 6px rgba(0,0,0,.15);position:relative;float:left;width:100%;background-color:#ffffff;font-size:14px;font-weight:300;color:#627794;padding:40px 10px;}
@media only screen and (min-width:200px) and (max-width:479px){
    .btmStrp {
        padding: 10px;
        margin: 0 10px;
        width: calc(100% - 20px);
    }
    .btmStrplogo {
        max-width: 115px;
    }
    .btmStrp .downLoad {
        margin-left:0;
    }
    .btmStrp .downLoad a {
        max-width: 65px;
        margin: 2px 3px;
    }
.topNav.container{width:100%;}
.bannerCont{min-height:500px;}
.contestName{font-size:32px;}
.container #aPadding{padding-right:10px;font-size:12px;}
.modalLeft{width:100%;padding:25px;overflow:hidden;}
.noborder .close{width:10px;height:10px;}
.noborder{right:15px;top:15px;}
.modalOver{bottom:10px;right:10px;width:280px;margin-left:10px;}
.overHead{font-size:28px;padding-bottom:10px;}
.overBody{font-size:16px;font-weight:400;}
.modalPop{max-height:95vh;background-position:unset;}
.modalWidth{width:unset;max-width:320px;margin:10px auto;}
form.searchBarForm{width:300px;}
.caro{padding:0 15px;}
.swipeTags{padding:0 20px;}
.tagHeader{padding:10px 0px 10px 0px;}
.tagName{max-width:190px;font-size:15px;}
.tagViewMore, .tagMoreImg{margin-top:0px;}
.tagView, .tagView:hover{font-weight:400;font-size:12px;}
.searchForm{padding-left:15px;}
#close .logoSect p{padding-top:6px;}
.divLeft{width:100%;height:auto;overflow-y:auto;padding:0px;float:none;}
.divLeft::-webkit-scrollbar{width:0px;}
.contestRight{width:320px;margin:0 AUTO;height:auto;}
.contestRight::-webkit-scrollbar{width:0px;}
.topTab{font-size:18px;padding:0px;margin-top:20px;}
.noCont{padding:15px 0;font-size:12px;font-weight:300;}
.conTabs{width:100%;}
.conTabs div{text-align:center;}
.contestSingle{margin:0;width:100%;}
.contestView{height:214px;}
.contestOverlay{padding:10px;}
.contestRight{padding:10px;}
.rightHeading{font-size:18px;}
.rightName{font-size:12px;}
.rightSingle{}
.detTab , .detEntries{margin:10px 10px;}
.detLeft , .detRight{font-size:16px;height:48px;width:65%;padding:14px 0;font-weight:500;padding:14px 0;}
.detLeft{width:60%;}
.detRight{font-size:15px;height:44px;width:120px;padding:12px 0;margin:2px 0;}
.detEntries{font-size:25px;}
.detSelectd{display:none;}
.detImg{height:75vh;}
.detImg img{max-height:100vh;}
.detViewer{min-height:25vh;overflow:hidden;padding-top:2%;}
.detView1{margin:0 2%;min-height:10vh;overflow:hidden;}
.detView11{width:75%;padding-right:2%;}
.detView12{width:25%;padding-left:2%;}
.dataView111{margin-bottom:2%;font-size:18px;}
.dataView112{font-size:10px;font-weight:100;}
.detBig{font-size:50px;}
.detDays{font-size:10px;}
.detNos{max-height:40px;margin:3% 2%;overflow:hidden;display:block;}
.detNos11b{font-size:10px;}
.detNos11a{font-size:20px;}
.detNos div{text-align:center;}
.detNos div p{width:100%;display:block;}
.winner{margin:20px 10px;}
.winTit{font-size:20px;}
.detDescr{margin:20px 10px;}
.detCont{font-size:20px;}
.detRules{font-size:12px;}
.detEntrLeft{padding:12px 0;}
.socialIcon{display:none;}
.topTitle{margin:10px;}
.recTitle{max-width:100%;}
.recTitleName{font-size:20px;}
.recImg{margin:0;height:auto;max-height:300px;}
.reciframe{height:300px !important;}
.recTime{margin:10px;}
.recTimeTitle,.recIngLeft,.descTitle,.ratingTitle{font-size:20px;}
.AllTime p{font-size:12px;font-weight:400;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:20px 10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recIngNos{font-size:12px;}
.ingNos{margin:0 10px;}
.recDesc{margin:20px 10px;}
.recDescNos{font-size:12px;}
.descNos{margin:5px 0;}
.descImg{margin:0 10px;width:75px;height:50px;}
.descNum{width:24px;height:24px;font-size:10px;}
.recRating{margin:20px 10px;}
.ratingStar{font-size:16px;margin:5px 20px;}
.ratingCount{font-size:14px;margin-left:10px;padding-top:5px;}
.recComment{padding:5px;}
.commentText{font-size:12px;min-height:75px;}
.commentButton{font-size:12px;padding:3px 10px;}
.viewComment{margin-top:10px;}
.commentOne{width:98%;}
.commentImg{width:30px;height:30px;}
.commentPadding{padding-left:35px;}
.commentName{padding:0;font-size:12px;}
.cmntRatingStr{margin:3px 10px;}
.ratingStr{font-size:16px;}
.commentTime{font-size:9px;font-weight:300;width:85px;}
.ratingUpdate:not(:checked) > label{font-size:100%;}
#seeMore{margin-top:10px;font-size:12px;}
#myMod .modal-content{width:320px;height:90vh;margin:5vh auto;}
#myMod .mySlides{padding:20px 0;}
.selectedShow{margin:0 5px;}
.selectedImg{height:115px;}
.selectedRecipes{padding:0;width:320px;margin:0 AUTO;}
.selectedTop{padding:5px;}
.selectedLeft{font-size:20px;padding:6px 0;}
.SelectRight{font-size:14px;margin-right:0;padding:10px 10px;}
.selectedOne{margin:5px;width:calc(50% - 10px);border-radius:2px;min-height:186px;}
.selectedShow::-webkit-scrollbar{width:0px;}
#scroll{width:100%;}
}
@media only screen and (min-width:480px) and (max-width:639px){
    .btmStrp {
        padding: 10px;
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    .btmStrplogo {
        max-width: 160px;
    }
    .btmStrp .downLoad {
        margin-left:0;
    }
    .btmStrp .downLoad a {
        max-width: 90px;
        margin: 2px 3px;
    }
.topNav.container{width:100%;}
.bannerCont{min-height:500px;}
.contestName{font-size:40px;}
.container #aPadding{font-size:14px;}
.modalLeft{width:100%;padding:25px;overflow:hidden;}
.noborder .close{width:10px;height:10px;}
.noborder{right:15px;top:15px;}
.modalOver{bottom:10px;right:10px;width:280px;margin-left:10px;}
.overHead{font-size:28px;padding-bottom:10px;}
.overBody{font-size:16px;font-weight:400;}
.modalPop{max-height:95vh;background-position:unset;}
.modalWidth{width:unset;max-width:480px;margin:10px auto;}
.btnOne, .btnTwo{max-width:140px;border:1px solid #6666663b;}
form.searchBarForm{width:460px;}
.tagHeader{padding:20px 0px 10px 0px;}
.caro{padding:0 50px 0 50px;}
.swipeTags{padding:0px 20px;}
.tagName{max-width:275px;font-size:16px;}
.tagView, .tagView:hover{font-size:12px;font-weight:400;}
.tagHeader{padding:20px 0px 10px 0px;}
.divLeft{width:100%;height:auto;overflow-y:scroll;padding:0px;}
.divLeft::-webkit-scrollbar{width:0px;}
.noCont{padding:15px 0;font-size:14px;font-weight:300;}
.contestRight{width:480px;margin:0 AUTO;height:auto;}
.contestRight::-webkit-scrollbar{width:0px;}
.topTab{font-size:20px;padding:0px;margin-top:20px;}
.conTabs{width:100%;}
.conTabs div{text-align:center;}
.contestSingle{margin:0;width:100%;}
.contestView{height:250px;}
.contestOverlay{padding:15px;}
.contestRight{padding:10px;}
.rightHeading{font-size:20px;}
.rightName{font-size:14px;}
.rightSingle{}
.detTab , .detEntries{margin:10px;}
.detLeft , .detRight{font-size:20px;height:48px;width:65%;padding:12px 0;font-weight:500;}
.detLeft{width:60%;}
.detRight{font-size:18px;height:44px;width:155px;padding:11px 0;margin:2px 0;}
.detEntries{font-size:25px;}
.detSelectd{display:none;}
.detImg{height:75vh;}
.detImg img{max-height:100vh;}
.detViewer{min-height:25vh;overflow:hidden;padding-top:2%;}
.detView1{margin:0 2%;min-height:10vh;overflow:hidden;}
.detView11{width:75%;padding-right:2%;}
.detView12{width:25%;padding-left:2%;}
.dataView111{margin-bottom:2%;font-size:18px;}
.dataView112{font-size:11px;font-weight:100;}
.detBig{font-size:50px;}
.detDays{font-size:11px;}
.detNos{max-height:40px;margin:3% 2%;overflow:hidden;display:block;}
.detNos11b{font-size:11px;}
.detNos11a{font-size:20px;}
.detNos div{text-align:center;}
.detNos div p{width:100%;display:block;}
.winner{margin:20px 10px;}
.winTit{font-size:20px;}
.detDescr{margin:20px 10px;}
.detCont{font-size:20px;}
.detRules{font-size:14px;}
.detEntrLeft{padding:12px 0;}
.selOne{}
.selImg{max-height:125px;}
.selImg img{height:125px;}
.socialIcon{display:none;}
.topTitle{margin:10px;}
.recTitle{max-width:100%;}
.recTitleName{font-size:20px;}
.recImg{margin:0;height:auto;max-height:350px;}
.reciframe{height:350px !important;}
.recTime{margin:10px;}
.recTimeTitle,.recIngLeft,.descTitle,.ratingTitle{font-size:20px;}
.AllTime p{font-size:12px;font-weight:400;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:20px 10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recIngNos{font-size:12px;}
.ingNos{margin:0 10px;}
.recDesc{margin:20px 10px;}
.recDescNos{font-size:12px;}
.descNos{margin:5px 0;}
.descImg{margin:0 10px;width:110px;height:70px;}
.descNum{width:24px;height:24px;font-size:10px;}
.recRating{margin:20px 10px;}
.ratingStar{font-size:16px;margin:5px 25px;}
.ratingCount{font-size:14px;margin-left:10px;padding-top:5px;}
.recComment{padding:5px;}
.commentText{font-size:12px;min-height:75px;}
.commentButton{font-size:12px;padding:3px 10px;}
.viewComment{margin-top:10px;}
.commentOne{width:98%;}
.commentImg{width:30px;height:30px;}
.commentPadding{padding-left:35px;}
.commentName{padding:0;font-size:12px;}
.cmntRatingStr{margin:3px 10px;}
.ratingStr{font-size:16px;}
.commentTime{font-size:9px;font-weight:300;width:85px;}
.ratingUpdate:not(:checked) > label{font-size:100%;}
#seeMore{margin-top:10px;font-size:12px;}
.profName{max-width:260px;}
.relatedImg{height:124px;}
#myMod .modal-content{width:480px;height:90vh;margin:5vh auto;}
.selectedRecipes{padding:0;width:480px;margin:0 AUTO;}
.selectedTop{padding:5px;}
.selectedLeft{font-size:20px;padding:6px 0;}
.SelectRight{font-size:14px;margin-right:0;padding:10px 10px;}
.selectedShow{margin:0 5px;}
.selectedOne{margin:5px;width:calc(33.3333% - 10px);border-radius:2px;min-height:186px;}
.selectedImg{height:115px;}
.selectedShow::-webkit-scrollbar{width:0px;}
#scroll{width:100%;}
}
@media only screen and (min-width:640px) and (max-width:768px){
    .btmStrp {
        padding: 10px;
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    .btmStrplogo {
        max-width: 180px;
    }
    .btmStrp .downLoad {
        margin-left:0;
    }
    .btmStrp .downLoad a {
        max-width: 100px;
        margin: 2px 3px;
    }
    .topNav.container{width:100%;}
.bannerCont{min-height:500px;}
.caro{padding:0 100px 0 100px;}
.modalLeft{width:100%;padding:25px;overflow:hidden;}
.noborder .close{width:10px;height:10px;}
.noborder{right:15px;top:15px;}
.modalOver{bottom:10px;right:10px;width:280px;margin-left:10px;}
.overHead{font-size:28px;padding-bottom:10px;}
.overBody{font-size:16px;font-weight:400;}
.modalPop{max-height:95vh;background-position:unset;}
.modalWidth{width:unset;max-width:640px;margin:10px auto;}
.loginBtn{margin:30px 75px;}
.btnOne, .btnTwo{max-width:140px;border:1px solid #6666663b;}
.swipeTags{padding:0 20px;padding-top:10px;}
.tagName{max-width:375px;font-size:18px;}
.tagHeader{padding:10px 0px 10px 0px;}
.divLeft{width:100%;height:auto;overflow-y:scroll;padding:0px;}
.divLeft::-webkit-scrollbar{width:0px;}
.noCont{padding:15px 0;font-size:14px;font-weight:300;}
.contestRight{width:640px;margin:0 AUTO;height:auto;}
.contestRight::-webkit-scrollbar{width:0px;}
.topTab{font-size:20px;padding:0px;}
.conTabs{width:100%;}
.conTabs div{text-align:center;}
.contestSingle{margin:0;width:100%;}
.topTab,.rightHeading{font-size:20px;}
.rightName,.rightMore,.contestTagline{font-size:14px;}
.contestView{height:350px;}
.contestOverlay{padding:20px;}
.contestRight{padding:10px;}
.rightSingle{}
.detTab , .detEntries{margin:10px 10px;}
.detLeft , .detRight{font-size:24px;height:48px;width:65%;padding:10px 0;font-weight:500;}
.detLeft{width:60%;}
.detRight{font-size:18px;height:44px;width:155px;padding:11px 0;margin:2px 0;}
.detEntries{font-size:25px;}
.detSelectd{display:none;}
.detImg{height:75vh;}
.detImg img{max-height:100vh;}
.detViewer{min-height:25vh;overflow:hidden;padding-top:2%;}
.detView1{margin:0 2%;min-height:10vh;overflow:hidden;}
.detView11{width:75%;padding-right:2%;}
.detView12{width:25%;padding-left:2%;}
.dataView111{margin-bottom:2%;font-size:18px;}
.dataView112{font-size:12px;font-weight:100;}
.detBig{font-size:50px;}
.detDays{font-size:12px;}
.detNos{max-height:40px;margin:3% 2%;overflow:hidden;display:block;}
.detNos11b{font-size:12px;}
.detNos11a{font-size:20px;}
.detNos div{text-align:center;}
.detNos div p{width:100%;display:block;}
.winner{margin:20px 10px;}
.winTit{font-size:20px;}
.detDescr{margin:20px 10px;}
.detCont{font-size:20px;}
.detRules{font-size:14px;}
.detEntrLeft{padding:12px 0;}
.selOne{}
.selImg{height:160px;}
.socialIcon{display:none;}
.topTitle{margin:10px;}
.recTitle{max-width:100%;}
.recTitleName{font-size:20px;}
.recImg{margin:0;height:auto;max-height:400px;}
.reciframe{height:400px !important;}
.recTime{margin:10px;}
.recTimeTitle,.recIngLeft,.descTitle,.ratingTitle{font-size:20px;}
.AllTime p{font-size:12px;font-weight:400;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recServe{font-size:12px;padding-top:4px;}
.recIng{margin:20px 10px;}
.AllTime{margin-top:5px;}
.recIngTitle{margin-bottom:5px;}
.recIngNos{font-size:12px;}
.ingNos{margin:0 10px;}
.recDesc{margin:20px 10px;}
.recDescNos{font-size:12px;}
.descNos{margin:5px 0;}
.descImg{margin:0 10px;width:150px;height:100px;}
.descNum{width:24px;height:24px;font-size:10px;}
.recRating{margin:20px 10px;}
.cmntRatingStr{margin:3px 10px;}
.ratingStar{font-size:16px;}
.ratingCount{font-size:14px;margin-left:10px;padding-top:5px;}
.recComment{padding:5px;}
.commentText{font-size:12px;min-height:125px;}
.commentButton{font-size:12px;padding:3px 10px;}
.viewComment{margin-top:10px;}
.commentOne{width:98%;}
.commentImg{width:30px;height:30px;}
.commentPadding{padding-left:35px;}
.commentName{padding:0;font-size:12px;}
.commentRate .ratingStar{font-size:16px;}
.ratingStr{font-size:16px;}
.commentTime{font-size:9px;font-weight:300;width:85px;}
.ratingUpdate:not(:checked) > label{font-size:100%;}
.profName{max-width:360px;}
#seeMore{margin-top:10px;font-size:12px;}
.relatedImg{height:150px;}
#myMod .modal-content{width:640px;height:90vh;margin:5vh auto;}
.selectedRecipes{padding:0;width:640px;margin:0 AUTO;}
.selectedTop{padding:5px;}
.selectedLeft{font-size:22px;padding:6px 0;}
.SelectRight{font-size:16px;margin-right:0;padding:10px 10px;}
.selectedShow{margin:0 5px;}
.selectedOne{margin:5px;width:calc(25% - 10px);border-radius:2px;min-height:186px;}
.selectedImg{height:115px;}
.selectedShow::-webkit-scrollbar{width:0px;}
#scroll{width:100%;}
}
@media only screen and (min-width:769px) and (max-width:991px){.tagName{max-width:400px;font-size:18px;}
.container{width:100%;margin:0 auto;}
.bannerCont{min-height:500px;}
.caro{padding:0 100px 0 100px;}
.modalWidth{width:unset;max-width:769px;margin:10px auto;}
.topTab,.rightHeading{font-size:17px;}
.noCont{padding:100px 0;}
.rightName,.rightMore,.contestTagline{font-size:10px;}
.rightSingle{}
.contestView{height:200px;}
.contestOverlay{padding:7px;}
.contestRight{padding:30px 15px;}
.detImg{height:350px;}
.detImg img{max-height:350px;}
.detLeft, .detRight{font-size:22px;padding:15px 0;}
.detTab{margin:10px 0;}
.dataView112 , .detNos11b , .detDays ,.selOne{font-size:12px;}
.selImg img{height:60px;}
.selOne{width:46%;}
.detRight{font-size:14px;padding:11px 0;height:40px;margin:10px 0;}
.selLeft{font-size:14px;}
.selRight{font-size:10px;}
.selImg{height:60px;}
.selectedEntries{margin-bottom:10px;}
.recTitle{max-width:65%;}
.socialIcon{max-width:35%;}
.socialIcon img{width:25%;padding-left:2%;}
.recTitleName{font-size:22px;}
.recImg{height:auto;max-height:400px;margin:20px 0;}
.reciframe{height:400px !important;}
.topTitle, .recTime, .recIng, .recDesc, .recRating{margin:20px 0;}
.recTimeTitle, .recIngLeft, .descTitle,.ratingTitle{font-size:20px;}
.AllTime p{font-size:12px;}
.recServe, .recIngNos,.recDescNos{font-size:14px;}
.ingNos{margin:5px;}
.descImg{margin:0 10px;width:150px;height:100px;}
.descNos{margin:10px 0;}
.ratingStar{font-size:20px;margin:5px 25px;}
.ratingCount{margin-left:20px;font-size:18px;padding-top:4px;}
.recComment{padding:10px;}
.commentText:focus, .commentText, .commentText:hover{min-height:125px;}
.ratingUpdate:not(:checked) > label{font-size:100%;}
.commentButton{font-size:12px;}
.viewComment{margin-top:10px;}
.commentImg{width:30px;height:30px;}
.commentPadding{padding-left:40px;}
.commentName{padding:2px 0;font-size:14px;}
.commentOne{width:98%;}
.cmntRatingStr{margin:6px 10px;}
.commentTime{font-size:10px;width:95px;}
#seeMore{margin-top:10px;font-size:14px;}
.profImg{width:30px;height:30px;margin-right:5px;}
.voteHead, .tagHead,.relatedHead{font-size:14px;}
.relatedMore{font-size:10px;padding-top:4px;}
.relatedImg{height:65px;}
.profFollow{font-size:12px;padding:4px 8px;}
.profName{width:100px;}
.pName{font-size:14px;}
.votLeft{font-size:12px;}
.votes{max-width:135px;}
.votRight{font-size:12px;padding:5px 0;height:25px;width:60px;margin:5px 0;}
#myMod .modal-content{width:770px;height:90vh;margin:5vh auto;}
.selectedLeft{font-size:26px;}
.selectedOne{margin:5px;width:120px;}
.selectedRecipes .socialIcon{max-width:28%;}
#scroll{width:100%;}
.selectedShow{margin:0 5px;}
.selectedOne{margin:5px;width:calc(25% - 10px);border-radius:2px;min-height:186px;}
.selectedImg{height:115px;}
}
@media only screen and (min-width:992px) and (max-width:1229px){.topNav{font-size:13px;}
.searchForm input{width:200px;}
.topNav .mainNav ul li{margin-left:25px;}
.topNav .mainNav{margin-right:25px;}
.userName{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100px;}
.userImg{margin-right:5px;}
.caro{padding:0 100px 0 100px;}
.tagName{max-width:500px;}
.topTab,.rightHeading{font-size:22px;}
.noCont{padding:150px 0;}
.rightName,.rightMore,.contestTagline{font-size:12px;}
.rightSingle{}
.contestView{height:200px;}
.contestOverlay{padding:7px;}
.detImg{height:400px;}
.detImg img{max-height:400px;}
.detRight{font-size:18px;padding:15px 0;}
.selLeft{font-size:18px;}
.selRight{font-size:12px;}
.selImg{height:75px;}
.recImg{width:100%;height:auto;max-height:400px;margin:40px 0;}
.reciframe{height:400px !important;}
.socialIcon{max-width:35%;}
.socialIcon img{padding-left:4%;width:25%;}
.relatedImg{height:75px;}
.commentPadding{padding-left:40px;}
.commentImg{width:35px;height:35px;}
.commentName{font-size:12px;padding:3px 0;}
.cmntRatingStr{font-size:10px;margin:5px 10px;}
.commentTime{font-size:9px;font-weight:100;width:85px;padding-top:5px;}
.profName{max-width:110px;}
.pName{font-size:14px;}
.votes{max-width:155px;}
.votRight{width:76px;font-size:14px;}
.selectedLeft{font-size:26px;}
.selectedOne{margin:7px;width:130px;}
.selectedRecipes .socialIcon{max-width:23%;}
#scroll{width:992px;}
.selectedShow{margin:10px -15px;}
.selectedOne{margin:15px;width:calc(25% - 30px);border-radius:2px;min-height:186px;}
.selectedImg{height:150px;}
}
@media only screen and (max-width:1229px){.topNav .mainNav ul li{margin-left:26px;}
.thumbs{margin:0 10px;}
}
@media only screen and (max-width:991px){.topNav .mainNav ul{display:none;}
.mobIcn{display:block;float:right;margin:18px 0;}
.mobIcn img{width:27px;height:26px;}
.logoSect{padding:15px 0;}
.topNav .mainNav{float:right;}
.topNav .getQuote{display:none;}
.contentSect{padding:60px 0;}
.thumbs{margin:10px;}
.bannerLinks{background-color:rgb(108, 26, 105);position:static;}
.bannerCont p{margin-bottom:20px;}
.bannerCont h1{font-size:45px;}
}
@media only screen and (min-width:200px) and (max-width:400px){.thumbImage{max-width:280px;}
.contestRight{width:100%;}
@media only screen and (min-width:401px) and (max-width:600px){.thumbImage{max-width:260px;}
}
@media only screen and (min-width:601px) and (max-width:800px){.thumbImage{max-width:210px;}
}
@media only screen and (min-width:801px) and (max-width:1000px){.thumbImage{max-width:295px;}
}